<div class="large-12 columns nopadding" ng-include="'views/templates/header.html'"></div>
<div class="large-12 columns nopadding main" id="main" ng-class="{home: homescreen}" >
<section role="main" class="scroll-container">
<div class="row" style="min-height: 90%;">


<div class="row">
  <div class="large-3 large-centered columns" style="text-align:center; margin-top: 5%;" >
    <h1>Coderobo</h1>
   
  </div>
  <div class="large-8 large-centered columns" style="text-align:center;"> <p>A reference keeper! For storing all your issues and its solutions for later use... </p></div>
  <div class="large-8 large-centered columns" style="margin-top:2%; 20%;top: 20%;"> <!-- position: absolute;left:  -->
      <div class="row">
        <div class="large-12 columns">
          <input name="search" type="text"  key-enter="search()" ng-model="searchtext"  placeholder="Whats your query?"  style="background-color: transparent;"/>
        </div>
      </div>

  </div>

 

</div>
</div>
<div class="row result" ng-class="{hide: hide}" style="background:#fff; min-height:150px;  border-top-right-radius: 2px; border-top-left-radius: 2px;  margin-top: 2%;">
  <div class="large-12 medium-10 columns" style="padding:10px 20px;">
    <div class="large-12 medium-12 columns" ng-hide="searchpost.length" style="background:#fff;">
      <span style="font-size:11px;">no related posts</span>
   </div>
    <div class="row" ng-repeat='item in searchpost'>
        <div class='title large-12 medium-12 columns' ng-click="showPost()" >
            {{item.postTitle}}
        </div>
        <div class="url large-12 medium-12 columns">
          <a ng-href='{{item.postUrl}}' target='_blank'>{{item.postUrl}}</a>
        </div>
        <div class='desc large-12 medium-12 columns'>
            <p>{{item.shortDescp}}</p>
        </div>
    </div>
  </div>
</div>
</section>
</div>
<div class="large-12 columns nopadding"  ng-include="'views/templates/footer.html'"></div>