<div class="jumbotron">
	<h1>Login</h1>
	
	<p>{{ message }}</p>
		<!-- <p>{{loadapp}}</p> -->
<!-- 	{{stations}} -->

<!-- <div >
      <video-bg playlist="videos" player-callback="callback(player)"></video-bg>
      <p style="padding: 200px 0;">Testing transclude!</p>
      <button type="button" ng-click="changeVideo()">Change Video</button>
      <button type="button" ng-click="pauseVideo()" ng-show="pauseVideo">Pause Video</button>
      <button type="button" ng-click="playVideo()" ng-show="playVideo">Play Video</button>
  </div> -->
<div class="row">
  <div class="large-4 columns">...</div>
  <div class="large-4 columns">
    <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Username
              <input type="text" placeholder="" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="text" placeholder="" />
            </label>
          </div>
        </div>
         <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="text" placeholder="" />
            </label>
          </div>
        </div>
         <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="text" placeholder="" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a href="#" class="button tiny expand">Create</a>
          </div>
        </div>
        
    </form>
  </div>

  <div class="large-4 columns">...</div>
</div>
</div>