<div class="jumbotron">

<div class="row">

  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
     <h1>Login</h1>
      <form name="registerform"  ng-submit="registerform.$valid && addUser(user)" novalidate>
        <div class="row">
          <div class="large-12 columns">
            <label>Username
              <input type="text" ng-model="user.username" placeholder="" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="text" ng-model="user.password" placeholder="" />
            </label>
          </div>
        </div>
         <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="text" ng-model="user.password" placeholder="" />
            </label>
          </div>
        </div>
         <div class="row">
          <div class="large-12 columns">
            <label>Email
              <input type="email" ng-model="user.email" placeholder="" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a href="#" class="button tiny expand">Create</a>
          </div>
        </div>
        
    </form>
  </div>

  <div class="large-4 columns">&nbsp;</div>
</div>
</div>