<section role="main" class="scroll-container">

<div class="row">
  <div class="large-9 medium-9 columns">
  	<div class="row" style="margin-bottom:10px;">
		<div class="large-10 medium-10 columns" ng-click="backPost()" ><i class="fa fa-arrow-circle-left"></i> back</div>
		<div class="large-2 medium-2 columns" style="text-align: right;"><i class="fa fa-pencil"></i> edit</div>
	</div>
  	<div class="row">
	  	<div class="large-11 medium-11 columns"><h2>{{ viewPost.postTitle}}</h2></div> 
  	</div>
  	<div class="row" style="margin-bottom:20px;">
	  	<div class="large-2 medium-2 columns">
	        {{viewPost.createdOn | parseDate:'day'}} {{viewPost.createdOn | parseDate:'month':'short'}} {{viewPost.createdOn | parseDate:'year'}}
	    </div>
    </div>
  	<h5><a href="{{viewPost.postUrl}}"  target="_blank">{{viewPost.postUrl}}</a></h5>
    <div class="panel" ng-bind-html="viewPost.postContent" style="padding:10px; border: 0px; ">
	  
	</div>
	<div class="row" style="margin-bottom:10px; ">
		<div class="large-12 medium-12 columns">
			<span style="background:">tags:</span> {{viewPost.tags | joinBy:', '}}
		</div>
	</div>
  </div>
   <div class="large-3 medium-3 columns"  style="padding-top:30px; border-left: 1px solid #eee; min-height: 400px;">
   <h4>related posts</h4>
   <div class="large-12 medium-12 columns" ng-hide="relatedPost.length" style="background:#fff;">
  		<span style="font-size:11px;">no related posts</span>
   </div>
   	<div class="large-12 medium-12 columns" ng-repeat="related in relatedPost" style="background:#fff;">
    		<div class="" style="color:#0FA3B5">{{related.postTitle}}</div>
    		<div class="" style="word-wrap: break-word; font-size:10px;">{{related.postUrl}}</div>
    		<div class="">{{related.shortDescp}}</div>
    </div>
  </div>
  
 </div>
</section>