<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login - CodePen</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="css/foundation.css">
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/dashboard.js"></script>
</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>
    <div class="top_container small-2 large-12 columns">
      <div class="titleBoard small-2 large-4 columns">
        <div class="appTitle"><img src="images/codeROBO.png" width="180px"></div>
      </div>
      <div class="optionBoard small-2 large-8 columns padding-20">
          <div class="small-2 large-8 columns">
            <ul>
              <li><a href="/dashbord" id="" class=""> My Bots</a></li>
              <li><a href="/allbots" id="" class=""> All Bots</a></li>
            </ul>
          </div>
          <div class="small-2 large-4 columns">
            <a href="/postadd" id="create" class="custbutton">New Instruction</a>
          </div>

      </div>
    </div>
    <div class="app_container">
      <div class="infoBoard small-2 large-3 columns">
        
          <div class="userProfile"> 
              <div class="pImage_holder"><div class="pImage"></div></div>
          </div>
          <div class="pInfo">
            <div class="small-2 large-12 columns pname"></div>
            <div class="small-2 large-12 columns pbots">Bots: 0</div>
          </div>
      </div>
      <div class="contentboard small-2 large-9 columns">
          <div class="small-2 large-12 columns bots" id="54c287a3a7cfb70000fc460f">
            <div class="small-2 large-1 columns ">
              <input id="checkbox1" type="checkbox">
      
            </div>
             <div class="small-2 large-9 columns borderRight">
                <div class="small-2 large-12 columns title nopadding">
                  <div class="small-2 large-9 columns text nopadding">Isometric</div>
                  <div class="small-2 large-3 columns date nopadding"></div>
                </div>
                <div class="small-2 large-12 columns botcontent nopadding">Isometric Characters↵↵Implementing characters in isometric view is not complicated as it may sound. Character art needs to be created according to certain standards. First we will need to fix how many directions of motion are permitted in our game - usually games will provide four-way movement or eight-way movement</div>
            </div>
            <div class="small-2 large-2 columns ">
                <div class="small-2 large-12 columns tags nopadding">java,c,c++</div>
                <div class="small-2 large-12 columns options nopadding">delete</div>
            </div>
          </div>
      </div>
    </div>

  </body>
</html>

</body>
<script>


</script>
</html>