<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login - CodePen</title>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="css/foundation.css">
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/post.js"></script>
    <script src="js/notify.js"></script>
</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>
     <div class="top_container small-2 large-12 columns">
      <div class="titleBoard small-2 large-4 columns">
        <div class="appTitle"><img src="images/codeROBO.png" width="180px"></div>
      </div>
      <div class="optionBoard small-2 large-12 columns">
       
      </div>
    </div>
    <div class="container">

      <div id="post">

        <form action="javascript:void(0);" method="get">

          <fieldset class="clearfix">

            <p><span>Title</span><input type="text" value=""  id="title" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span>Notes</span><textarea placeholder="" id="notes" required></textarea></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><span>URL</span><input type="text"  value="" id="webURL"  required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><span>Tags</span><input type="text"  value="" id="tags"  required></p>
            <p><input type="submit" value="Create" id="create"> <a href="/dashboard" class="left-3"> << back</a></p>

          </fieldset>

        </form>

        

      </div> <!-- end login -->

    </div>

  </body>
</html>

</body>

</html>