body{
  padding     : 0;
  margin      : 0;
  font-family : "Open Sans",sans-serif;
  font-size   : 14px;
  line-height : 1.428571429;
  color       : #555;
  overflow-x  : hidden;
  /*background-color: #f7f7f7;*/
}

p, h1, h2, h3, h4, h5, a, div{
  color: #fff;
  letter-spacing : .4px;
  font-weight    : 200;
  word-spacing   : 1px;
}
p, h1, h2, h3, h4, h5,{
    color : #234344;
}

.columns.nopadding {
    padding-left  : 0;
    padding-right : 0;
}
a:hover, a:focus {
    color: #1E4C62;
}
.home{
  /*background: linear-gradient(to top,#eaf0f3 0,#fff 100%);*/
  /*background-image: url('/images/download.png');*/
  background-image: linear-gradient(-130deg,#1f703d 30%,#1E4C62 70%);
  /*background: #eaf0f3;*/
  margin-top: -12px;
}
#main{
  min-height: 68.3%;
  margin-top: 0px;
}
.hide{
  display:none;
}
.show{
  display: block;
}
.row{
  max-width: 90%;
  margin-top: 1%;
}
.container .row{
  max-width: 90%;
  margin-top: 0% !important;
}
.top-bar{
  background: linear-gradient(-90deg,#1f703d 30%,#1E4C62  70%); 

}
.header{
    box-shadow: 0 1px 0 rgba(255,255,255,.05);
}
.top-bar-section li:not(.has-form) a:not(.button){
  background:rgb(230, 85, 35);
}

.top-bar-section  a:hover{
  background: rgb(236, 157, 130) !important;
}
.rFont       {
  color      : #FF2A24;
}
.gFont       {
  color      : #AEF900;
}
.dgFont      {
  color      : #1f703d;
}
.yFont       {
  color      : #FF8700; //#FFB724;
}
.blFont       {
  color : #234344;
}
.pFont       {
  color : #6E0045;
}
.bFont       {
  color      : #079BDB;  //#FFB724;
}
.rbackground {
  background : #FF2A24;
}
.dgbackground{
  background      : #1f703d;
}
.gbackground {
  background : #AEF900;
}
.ybackground {
  background : #FF8700; //#FFB724;
}
.pbackground {
  background : #6E0045;
}
.bbackground {
  background : #079BDB;  //#FFB724;
}
.dbbackground{
  background : #1E4C62;
}
.menu{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
}
.menu li{
  float: left;
  margin-right:10px; 
}
.menu li a{
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 200;
}
.vr-border{
  border-right:1px solid #333;
}
textarea:focus, input:focus,button:focus{
    outline: 0 !important;
}

.button.custom:hover, .button.custom:focus {
  background: #099ea3 !important;
}
.infoArea{
    width:100%;
    display: inline-block;
}
.radius-top{
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel{
 
  margin-left: 0;
  padding: .2rem .9rem;
  min-width: 380px;
  overflow-y: auto;
}

.panel.list{
  width: 100%;
  margin-left: 0;
  /*padding: 0.20rem;*/
  border:none;
  height: 75px;
  background:#fff;

  /*border-bottom: 1px solid #eee;*/
}
.panel.list .panel-title{
  /*line-height: 12px;*/
  padding: 0px 2px;

}
.panel.list .panel-title:hover{
  cursor: pointer;
}
.panel.list .text-panel{
  padding-left: 0px;
}
.date-panel{
  padding: 0px;
}
.panel.block{
  width: 49%;
  float: left;
  height: 150px;
  background:#fff;
  border:none;
  border-bottom: 1px solid #eee;
  /*border:1px solid #1ec6cc;*/
}
.panel.block .date-panel{
  width: 12%;
}
.panel.block .text-panel{
  width: 87%;
  padding-left: .2rem;
}
.panel.block .panel-title
{
  color: #12a0a5;
  background: #fff;
}
.panel.block.odd{
  border-right: 1px solid #eee;
}
.panel.list .block-ellipsis{
    height: 18px !important;
}
.panel.list .panel-content,.panel.list .panel-showmore{
  display: none;
}
.panel.list .panel-title
{
  color: #12a0a5;
  background: #fff;
}
.block{
  border:1px solid #1ec6cc;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-ellipsis{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 45px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 16;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.panel-createdOn{
    width: 45px;
    height: 50px;
    background-color: rgb(230, 85, 35);  
    float: left;
}
.panel-layer{
    width: 100%;
    height: auto;
    display: inline-block;
}
.panel-date{
  font-size: 20px;
  font-weight: 400;
  background: #eee;
}
.panel-month{
  font-size: 14px;
  color: #fff !important;
}
.panel-year{
  font-size: 11px
}
.panel-layer .radius{
  border-radius: 3px;
}
.panel-title
{

    padding: 1px 3px;
    background: #1ec6cc;
    /*margin-top: 13px;*/
}
.panel-tags{

    padding: 1px 3px;
    color: rgb(230, 85, 35);
    font-size: 12px;
    word-spacing: 2px;
    /*margin-top: 5px;*/
}
.text-small{
  font-size: 11px;
  word-spacing: 2px;
}
.panel-showmore{
  font-size: 12px;
     width: 80px;
    float: right;
    margin-top:8px;
}
.panel-content{
  margin-top: 4px;
  line-height: 16px;
}
.createBot{
    background-color: rgb(230, 85, 35);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 3%;
    bottom: 4%;

}
.editOption{
  position: absolute;
  top: 55px;
  left: 75px;
}
.profileCircle {
  display: block;
  padding: 0px;
  /*width: 75px;*/
  width:30%;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
/*  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;*/
  border: 1px solid #eee;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);  
  float: left;
}

.ProfileInfo{
  float: right;
  width: 70%;
    height: 100%;
}

.editor-container{
      border: 1px solid #666;
    min-height: 250px;
    overflow-y: auto;
}
.ql-snow.ql-toolbar{
  background: #1ec6cc;
  padding: 2px 3px !important;
}
.ql-picker-label{
  background-color: #1ec6cc !important;
}
.ql-snow.ql-toolbar .ql-picker.ql-font .ql-picker-label, .ql-snow.ql-toolbar .ql-picker.ql-size .ql-picker-label
{
  background-color: #1ec6cc;
}
.btn-group{
  float: left;
}

.btn-toolbar{
  width: 100%;
  height: 25px;
  background-color:#1ec6cc;
}
.btn-group button{
  margin:0rem !important;
  padding: .2rem .21rem;
  background-color:#1ec6cc;
  font-size: 13px;
}
.btn-group:last-child {
      height: 100%;
}
.ta-scroll-window > .ta-bind{
  min-height:150px !important;
}
.ta-editor{
      border: 1px solid #ddd;
      clear:both;
      min-height: 150px !important;
}
.create{
  margin:10px 0px 20px;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  margin: 0 0 .7rem 0;
  padding: .2rem;
  height: 2rem;
}
.ta-editor{
  margin: 0 0 .7rem 0;
}
#toolbarWC{
    min-width: 30px;
    margin-top: -22px;
    margin-left: 120px;
    background-color: #1ec6cc;
    padding: 3px 10px 0px;
    color: #fff;
    font-size: 12px;
    display: none !important;
}
#toolbarCC{
   display: none !important;  
}
.loginpanel{
  width: 300px;
    height: 200px;
    background-color: #fff;
    border-left: 1px solid rgb(230, 85, 35);
    border-right: 1px solid rgb(230, 85, 35);
    border-bottom: 1px solid rgb(230, 85, 35);
    position: absolute;
    right: 0px;
    padding-top: 5px;
    z-index: 10;
    top: 45px;
}
.registerpanel{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-left: 1px solid rgb(230, 85, 35);
    border-right: 1px solid rgb(230, 85, 35);
    border-bottom: 1px solid rgb(230, 85, 35);
    position: absolute;
    right: 0px;
    padding-top: 5px;
    z-index: 10;
    top: 45px;
}

.ta-scroll-window > .ta-bind
{
    max-height: 400px;
    overflow-y: auto;
}
.result .desc p{
  font-size: 12px;
}
footer{
  padding: 10px;
}
footer p{
  color: #fff;
  font-size: 12px;
}
.form-fields {
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}
.top-bar .form-fields {
    font-size: 13px !important;
    border: none !important;
    background-color: #eee !important;
    height: 28px !important;
}
button.cbtn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-bar .btn{
    top: 0px !important;
    height: 28px !important;
}
.fs-mini {
    font-size: 13px;
    margin-bottom: 0px;
}
.text-muted {
    color: #777;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #72d0d3;
}
.modal-opq {
    position: fixed;
    z-index: 1050;
    display: block;

    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.loginPanel, .registerPanel{

    width: 30%;
    height: 300px;
    margin-left: 35%;
    margin-top: 8%;
    display          : none;
}
.profileUpload{

    width: 30%;
    height: 400px;
    margin-left: 35%;
    margin-top: 8%;
    display          : none;
}
.loginPanel .modal, .registerPanel .modal,.profileUpload .modal{
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 4px;
    border: 0;
    position: relative;
    background-color: transparent;
}
.loginPanel .model-header,.registerPanel .model-header,.profileUpload .model-header{
    text-align: center;
    padding: 15px;
    background-color: #eaf0f3;
    border-radius: 4px 4px 0 0;
}
.loginPanel .model-content,.registerPanel .model-content,.profileUpload .model-content{
    text-align: center;
    padding: 25px;
    background-color: #fff;
    
}
.loginPanel .model-option,.registerPanel .model-option,.profileUpload .model-option{
    text-align: center;
    padding: 25px;
    background-color: #1E4C62;
    border-radius:  0 0 4px 4px;
}
.modal-opq, .overlay {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.overlay {
    background-color : #091a23;
    width            : 100%;
    height           : auto;
    position         : fixed;
    display          : none;
}
.in{
  opacity: 1;
  display:block;

}
.overlay.in{
  filter           : alpha(Opacity=80);
  opacity          : .8;
}
.nopost-panel{
  padding: 50px;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  margin-bottom: 30px;
}
.logout {
  padding-top: 10px;
}
.logout ul{
  float:right;
}
/* Core component styles */
.ng-image-crop {
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Each of the 3 steps in the process are contained within sections */
.ng-image-crop > section {
  background: #ccc;
}
/* The cropping button */
.ng-image-crop button {
  margin-top: 10px;
}
/* The dashed cropping guideline */
.ng-image-crop .cropping-guide {
  display: block;
  background: rgba(255, 255, 255, .3);
  border: 2px dashed white;
  position: absolute;
  pointer-events: none;
}
/* The circular themed cropping guideline */
.ng-image-crop--circle .cropping-guide {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* The canvas where the user positions the image via dragging and zooming */
.ng-image-crop .cropping-canvas {
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  cursor: move;
}
/* The overlayed draggable zoom handle in the corner of the module */
.ng-image-crop .zoom-handle {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  background: rgba(255,255,255,0.7);
  width: 80px;
  height: 80px;
  cursor: move;
  border-radius: 200px 50px;
}
/* The text within the zoom handle */
.ng-image-crop .zoom-handle > span {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: relative;
  top: 32px;
}
.fileUpload {
    position: relative;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}